<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{pose_name}}</title>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <!-- Load Posenet -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
<!--    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>-->
    <style>
        
        canvas{
            position: absolute;
            top: 0;
            left: 0;
            z-index:1
        }
    </style>
</head>
<body>
    <div>
            <video id="myVideo" autoplay></video>
    </div>
    <br>

<script src="/static/runWebcam.js"></script>
<script id="poseDetect" src="/static/poseDetect_learn.js" data-source="myVideo" data-mirror="true" data-uploadWidth="1280" data-scoreThreshold="0.10" data-apiServer="/pose_correct/{{pose_name}}"></script>
<div>
        <img id="show-img" src="{{image_src}}" class="img-fluid" alt="Responsive image">
</div>

<a id="testdownload" download="testimage.jpeg" href=""></a>
</body>
</html>