<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tensor Flow Object Detection from getUserMedia</title>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <!-- Load Posenet -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
<!--    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>-->
    <style>
        video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* Mirror the local video */
            /*transform: scale(-1, 1);            !*For Firefox (& IE) *!*/
            /*-webkit-transform: scale(-1, 1);     !*for Chrome & Opera (& Safari) *!*/
        }
        canvas{
            position: absolute;
            top: 0;
            left: 0;
            z-index:1
        }
    </style>
</head>
<body>
<video id="myVideo" autoplay></video>
<script src="/static/runWebcam.js"></script>
<script id="poseDetect" src="/static/poseDetect.js" data-source="myVideo" data-mirror="true" data-uploadWidth="1280" data-scoreThreshold="0.10"></script>
<!--<img id="show-img" src="" class="img-fluid" alt="Responsive image">-->
<a id="testdownload" download="testimage.jpeg" href="">download</a>
</body>
</html>